################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CurrencyApi/bin/Debug/netcoreapp2.2
/CurrencyApi/obj
